doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      h1=title
      ul 
        each detail in details
          //li=detail.FirstName
          //li=detail.LastName 
          //li=detail.FullName
          li=detail.syu_ymd


