doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    block content
      h1=title
      ul 
        each detail in details
          li=detail.syu_ymd


